.header {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1D2437;
  &__logo {
    color: #ffffff;
    font-size: 32px;
    transition: all 1s;
    &:hover {
      color: #a600ff;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__link {
    color: #ffffff;
    font-size: 22px;
    transition: all 1s;
    &:hover {
      color: #a600ff;
    }
  }
  &__btn {
    font-size: 22px;
    padding: 9px 20px;
    border: none;
    border-radius: 10px;
    color: #1D2437;
    background-color: #ffffff;
    transition: all 1s;

    &:hover {
      border: 1px solid #a600ff;
      border-radius: 10px;
      color: #a600ff;
      background-color: #1D2437;
    }
  }
}
.footer{
  width: 100%;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1D2437;
  &__title{
    color: #ffffff;
    font-size: 22px;
  }
  &__desc{
    color: #ffffff;
    font-size: 18px;
  }
  &__right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__link{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    &:hover{
      border-radius: 50%;
      background-color: #a600ff50;
    }
  }
}
